<div class="container">
  <div class="aboutContainer">
    <h2>
      <span class="headingMain" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000"
        data-aos-easing="ease forwards" data-aos-offset="100" data-aos-once="true">KATA SAMBUTAN</span>
      <span class="headingSub" data-aos="fade-up" data-aos-delay="150" data-aos-duration="1000"
        data-aos-easing="ease forwards" data-aos-offset="100" data-aos-once="true">
        KEPALA SMK NEGERI 7 BATAM
      </span>
    </h2>
    <div class="aboutContent">
      <div class="aboutContentMain">
        <h3 class="aboutContentTitle" data-aos="fade-down-right" data-aos-delay="160" data-aos-duration="1000"
          data-aos-easing="ease forwards" data-aos-offset="100" data-aos-once="true">
          Assalamu’alaikum wr. wb.
        </h3>
        <div class="aboutContentDetails">
          <p class="aboutContentDetailsPara" data-aos="fade-up-right" data-aos-delay="180" data-aos-duration="1000"
            data-aos-easing="ease forwards" data-aos-offset="100" data-aos-once="true">
            Selamat datang di situs resmi SMK Negeri 7 Batam. Saya, Nursya’bani, M.Pd., Kepala SMK Negeri 7 Batam,
            menyampaikan sambutan hangat kepada Anda melalui platform ini sebagai sarana informasi dan komunikasi untuk
            mendukung pendidikan bermutu tinggi dengan motto Inovatif dan Berbudaya.
          </p>
          <p class="aboutContentDetailsPara" data-aos="fade-right" data-aos-delay="180" data-aos-duration="1000"
            data-aos-easing="ease forwards" data-aos-offset="100" data-aos-once="true">
            Dengan komitmen kuat untuk membentuk siswa berkompeten dan berdaya saing global, kami mengadopsi pendekatan
            holistik dan inovatif yang mengikuti perkembangan zaman. Situs ini menyajikan informasi komprehensif
            mengenai kegiatan sekolah, prestasi siswa, program pembelajaran, serta acara ekstrakurikuler, sambil
            mengajak seluruh pemangku kepentingan untuk berperan aktif dalam upaya pengembangan ini.
         
          </p>
          <p class="aboutContentDetailsPara" data-aos="fade-up-left" data-aos-delay="180" data-aos-duration="1000"
            data-aos-easing="ease forwards" data-aos-offset="100" data-aos-once="true">
             <strong>Waalaikumsalam wr. wb.</strong> 
          </p>
        </div>
        <div class="btn" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000"
          data-aos-easing="ease forwards" data-aos-offset="100" data-aos-once="true">
          <button mat-raised-button (click)="redirectToContct()">
            Contact
          </button>
        </div>
      </div>
      <div class="aboutContentSkills">
        <h3 class="aboutContentTitle" data-aos="fade-down-left" data-aos-delay="160" data-aos-duration="1000"
          data-aos-easing="ease forwards" data-aos-offset="100" data-aos-once="true">
          My Skills
        </h3>
        <div class="skills" data-aos="fade-up-left" data-aos-delay="180" data-aos-duration="1000"
          data-aos-easing="ease forwards" data-aos-offset="100" data-aos-once="true">
          <div class="skillsIcon">
            <img class="imgResponsive" src="../../../assets/skills/html.png" id="html" />
          </div>
          <div class="skillsIcon">
            <img class="imgResponsive" src="../../../assets/skills/css.png" id="css" />
          </div>
          <div class="skillsIcon">
            <img class="imgResponsive" src="../../../assets/skills/js.png" id="js" />
          </div>
          <div class="skillsIcon">
            <img class="imgResponsive" src="../../../assets/skills/scss.webp" id="scss" />
          </div>
          <div class="skillsIcon">
            <img class="imgResponsive" src="../../../assets/skills/Java.jpg" />
          </div>
          <div class="skillsIcon">
            <img class="imgResponsive" src="../../../assets/skills/bootstrap.png" id="bootstrap" />
          </div>
          <div class="skillsIcon">
            <img class="imgResponsive" src="../../../assets/skills/spring-boot.png" id="spring boot" />
          </div>
          <div class="skillsIcon">
            <img class="imgResponsive" src="../../../assets/skills/angular.png" id="angular" />
          </div>
          <div class="skillsIcon">
            <img class="imgResponsive" src="../../../assets/skills/github.png" id="github" />
          </div>
          <div class="skillsIcon">
            <img class="imgResponsive" src="../../../assets/skills/TypeScript.png" id="TypeScript" />
          </div>
          <div class="skillsIcon">
            <img class="imgResponsive" src="../../../assets/skills/sql.png" id="SQL" />
          </div>
          <div class="skillsIcon">
            <img class="imgResponsive" src="../../../assets/skills/Postgresql.png" id="postgres" />
          </div>
          <div class="skillsIcon">
            <img class="imgResponsive" src="../../../assets/skills/grafana.png" id="grafana" />
          </div>
          <div class="skillsIcon">
            <img class="imgResponsive" src="../../../assets/skills/redis.png" id="redis" />
          </div>
          <div class="skillsIcon">
            <img class="imgResponsive" src="../../../assets/skills/docker.png" id="docker" />
          </div>
          <div class="skillsIcon">
            <img class="imgResponsive" src="../../../assets/skills/outsystem.png" id="outsystem" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>