<div class="container">
  <div class="headerContainer">
    <mat-toolbar class="header">
      <div class="headerLogo">
        <p class="navTitle">SMK NEGERI 7 BATAM</p>
      </div>

      <span class="spacer"></span>

      <div class="navItems" *ngIf="!isMobile">
        <ul>
          <li><a href="#home" (click)="setActive('home')">Home</a></li>
          <li class="dropdown profile-dropdown">
            <a
              href="javascript:void(0)"
              (click)="toggleProfileDropdown()"
              [class.active]="isProfileDropdownOpen"
            >
              Profile
            </a>
            <ul class="dropdown-content" *ngIf="isProfileDropdownOpen">
              <li><a href="#profile">View Profile</a></li>
              <li><a href="#settings">Settings</a></li>
              <li><a href="#logout">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>

      <div
        id="humMenu"
        (click)="toggleSidenav()"
        [class.openMenu]="isMenuOpen"
        *ngIf="isMobile"
      >
        <span></span>
        <span></span>
        <span></span>
      </div>
    </mat-toolbar>
  </div>
</div>
